* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

:root{
    --color1: #fef4ea;
    --fontcolor: #826b45;
    --color2: #ff854a;
    --color3: #a36b30;
    --color4: #f7eaca;
}

body {
    background-color: var(--color1);
    min-width: 450px;
  
}

header {
    background-color: var(--fontcolor);
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

header h1 {
    color: var(--color1);
    font-size: 1.50em;
    padding: 0.5em;
}
.logo.hidden {
    visibility: hidden;
}

.nav-button {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    justify-content: space-around;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
}

.ham {
    width: 100%;
    height: 4px;
    background-color: var(--color1);
    border-radius: 2px;
}
.navi {
    display: none;
}
.navi.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2.5em;
    right: 0;
    background-color: var(--fontcolor);
    width: 100%;
    text-align: center;
}

.nav-button.close .ham:nth-child(2) {
    opacity: 0;
  }
  
.nav-button.close .ham:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}
  
.nav-button.close .ham:nth-child(3) {
    transform: translateY(-10px) rotate(-30deg);
}

.navi li a {
    text-decoration: none;
    color: var(--color1);
    padding: 0.5em;
    display: block;
}
.navi li a:hover{
    background-color: #a36b30;
}

h2.title {
    text-align: center;
    margin-top: 1em;
    color: var(--fontcolor);
}

.cards-container {
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    place-items: center;
    gap: 2em;
    padding: 2em;
}

section.cards {
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.75em;
    border: 0.25px solid #ccc;
    height: 21.8em;
    color: var(--fontcolor);
}
section.cards:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards img {
    height: 14em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span.label {
    font-size: .9em;
    font-weight: 600;
}

img {
    width: 100%;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: var(--fontcolor);
    color: var(--color1);
}